<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wemby Highlights</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>Wembanyama does it all!</h1>
    <h2>What would you like to see Wemby do?</h2>
    <ul>
        {% for slug, label in categories.items() %}
        <h2><a href="{{ url_for('highlight', category=slug) }}">{{ label }}</a></h2>
        {% endfor %}
    </ul>
</body>
</html>
