<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wemby Highlights</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>Wembanyama does it all!</h1>
    <h2>What would you like to see Wemby do?</h2>
    <ul>
        <h2><a href="{{ url_for('block') }}">Block</a></h2>
        <h2><a href="{{ url_for('dunk') }}">Dunk</a></h2>
        <h2><a href="{{ url_for('three_pt') }}">Three</a></h2>
        <h2><a href="{{ url_for('layup') }}">Layup</a></h2>
        <h2><a href="{{ url_for('rebound') }}">Rebound</a></h2>
        <h2><a href="{{ url_for('steal') }}">Steal</a></h2>
        <h2><a href="{{ url_for('assist') }}">Assist</a></h2>
        <h2><a href="{{ url_for('jumpball') }}">Jumpball</a></h2>
        
    </ul>
</body>
</html>
